<app-toolbar></app-toolbar>
<router-outlet name = "popup"></router-outlet>
<div class="container-fluid">
  <div id="wrapper-content">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <app-sidebar></app-sidebar>
      </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <main role="main">
        <router-outlet></router-outlet>
      </main>
    </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
