<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <a class="navbar-brand" [routerLink]="['/']">Simple Desk</a>
  <div class="collapse navbar-collapse" id="navbarToggler1">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngFor="let item of elementsArray" class="nav-item" [class.active]="item === selectedItem">
        <a class="nav-link"  routerLinkActive="disabled" [routerLink]=item.href>{{item.name}}</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          {{currentUserName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right ">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Change password</a>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

