<div class="panel-wrapper">
  <div class="panel-wrapper-title">
    <span></span>
  </div>
  <div class="panel-wrapper-body">
    <nav>
      <ul>
        <li *ngFor="let item of links">
          <a [routerLink]="[item.link]" [routerLinkActive]="['active']">
            <i class="material-icons">{{ item.icon }}</i>
            {{ item.name}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
