/* You can add global styles to this file, and also import other style files */
.panel-wrapper {
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  margin-bottom: 15px;
  margin-right: 2px;
}

.panel-wrapper-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 8px 20px;
  color: rgba(0, 0, 0, .54);
  background: rgba(0, 0, 0, .03);
}

.panel-wrapper-body {
  padding: 15px;
}
