<h2 mat-dialog-title>{{description}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="id" formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Item" formControlName="item">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Date" formControlName="dateItem">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type" formControlName="typeItem">
      <mat-option *ngFor="let typeBasket of typeSelectList" [value]="typeBasket.codeLat">
        {{typeBasket.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>

    <input matInput
           placeholder="Amount"
           formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Cost"
           formControlName="cost">
  </mat-form-field>

  <mat-form-field>
       <textarea matInput placeholder="Description"
                 formControlName="description">
        </textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()">
    Save
  </button>
  <!--<p>heroForm value: {{ form.value | json}}</p>-->
</mat-dialog-actions>
