<div class="panel-wrapper">
  <div class="panel-wrapper-title">
    <span></span>
  </div>
  <div class="row" style="height: 5px">
  <span class="col">
    <mat-progress-bar *ngIf="isLoadingResults" [mode]="'indeterminate'"></mat-progress-bar>
  </span>
  </div>
  <div class="panel-wrapper-body">

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainOperations"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="MainOperations">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <button mat-button (click)="openDeskDialog()" type="button" matTooltip="add record to grid">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button mat-button (click)="getAllItem_()" type="button" matTooltip="refresh">
            <mat-icon>autorenew</mat-icon>
          </button>
        </form>
      </div>
    </nav>
    <!--<div class="example-loading-shade"-->
         <!--*ngIf="isLoadingResults || isRateLimitReached">-->
      <!--<mat-spinner *ngIf="isLoadingResults"></mat-spinner>-->
      <!--<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">-->
        <!--GitHub's API rate limit has been reached. It will be reset in one minute.-->
      <!--</div>-->
    <!--</div>-->
    <table mat-table [dataSource]="dataBasket" class="mat-elevation-z8"
           matSort matSortActive="date" matSortDisableClear matSortDirection="asc">

      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.item}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.type}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Desc Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.description}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.amount}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost</th>
        <td mat-cell *matCellDef="let basketRecord"> {{basketRecord.cost | currency}}</td>
        <td mat-footer-cell *matFooterCellDef>Total:</td>
      </ng-container>


      <!-- Total Column -->
      <ng-container matColumnDef="sum" >
        <th mat-header-cell *matHeaderCellDef> Total</th>
        <td mat-cell *matCellDef="let basketRecord"> {{(basketRecord.cost*basketRecord.amount) | currency}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}}</td>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let basketRecord">
          <button mat-icon-button (click)="openDeskDialog(basketRecord)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="openDialog(basketRecord)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
      <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()"></tr>
    </table>

  </div>
  <mat-paginator  [length]="resultsLength" [pageSize]="2"></mat-paginator>
  <!--<mat-paginator [length]="resultsLength" showFirstLastButtons></mat-paginator>-->
  <!--<mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>-->

</div>
