table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}
th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}
td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}
.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
